.App {
  text-align: center;
  background-color: grey;
}

.gif-item {
  background-color: #ffffff;
  padding: 20px 5px 5px 5px;
  border-radius: 5px;
  margin: 10px;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gifimg {

  height: 150px;
}

.search-field {
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1x;
}

.searchbar {
  background-color: black;
  color: white;
  height: auto;
  text-align: center;
  padding: 20px 0px;
}

h1{
  font-size: 60px;
}

span{
  width: 3px;
  display: inline-block;
}

#searchInput{
  height: 30px;
  width: 250px;
  border-radius: 0.6em;
  text-align: center;
  border-color: black;
}

#srch-btn {
  height: 30px;
  width: 80px;
  margin-left: 10px;
}

#rand-btn{
  height: 30px;
  width: 150px;
  margin-left: 10px;
}

#srch-lbl{
  font-size: 25px;
}